# Auto-detect and normalize line endings
* text=auto

.bgi diff text unset
.dat diff text unset
*.reg diff text eol=crlf
*.resx diff text eol=crlf
*.cs diff text eol=crlf

*.bmp binary diff=image
*.gif binary diff=image
*.ico binary
*.jpg binary diff=image
*.png binary diff=image
*.svg binary diff=image

# Use lf for bash scripts checked out on Windows
*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
