@model ReactTodo.Htmx.Pages.List.ListModel

<div id="todo-list">
    <h1>@Model.List?.Name</h1>
    <form hx-post hx-page="List" hx-target="#todo-list">
        <div class="p-0 d-flex mb-4">
            <input placeholder="New task" asp-for="Name" type="text" class="form-control" aria-invalid="false" required>
            <span asp-validation-for="Name" class="text-danger"></span>
            <button type="submit" class="btn btn-success" aria-label="Create Task">Create Task</button>
        </div>
    </form>

    <ul class="list-group" hx-target="closest li" hx-swap="outerHTML">
        @foreach (var task in Model.List?.Tasks)
        {
            <partial name="Task/_Task" model="task" />
        }
    </ul>
</div>
